*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/

app/src/main/assets/fonts/*.otf
app/src/main/assets/fonts/*.ttf
app/src/main/assets/fonts/*.ttc
upload_certificate.pem
app/release/
